services:
  backend:
    build:
      context: ../backend
      dockerfile: Dockerfile
    container_name: backend_prod
    restart: always
    expose:
      - "5000"
    networks:
      - app-network

  frontend:
    build:
      context: ../frontend/deployboard-ui
      dockerfile: Dockerfile
    container_name: frontend_prod
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
